body {
    font-family: sans-serif;
}

div#nav {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

div#nav a {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    background-color: #eee;
}

div#nav a:hover {
    background-color: #ccc;
}